:root {
  --container-padding: 0 10px;
  --container-max-width: 500px;
}

@media (min-width: 1024px) {
  :root {
    --container-padding: 0 40px;
    --container-max-width: 800px;
  }
}

.container {
  min-width: 375px;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: var(--container-padding);
}
